*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: auto;
}

header h1,p{
    margin-bottom: 30px;
    text-align: center;
}

header h1{
    color: #E6316F;
}